<nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Agenda</a>
          </li>
        </ul>
        <% if(!user) {%>
        <span class="navbar-text">
          <a href="/login/">Entrar</a>
        </span>
        <% }else { %>
        <span class="navbar-text" style="margin-right: 16px">
          <a href="/contato/">Cadastrar contato</a>
        </span>
        <span class="navbar-text">
          <a href="/login/logout">Sair</a>
        </span>
        <% } %>
      </div>
    </div>
  </nav>